<br>
<div class="hero-unit">

  <h1>Xpedia</h1>
  <h3>Xpedia is a SaaS app that allows users to create their own wikis!</h3>
  <p><center>
    <div class="hero-text">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </div>
  </center></p>
</div>
